/* Button */
.formwizard-left-elements-special-grid {
    background-image: url("../../Images/formelement-grid.png");
}

/* Grid Element */
.formwizard-element.grid {
    border: 1px solid #ccc;
}

.formwizard-element.grid:before {
    content: "Grid Element";
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #555555;
}